body {
    background-color: #1c1c1c !important;
    /* margin: 320px; */
    /* padding: 15px */
}

.heading {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.form-container {
    vertical-align: middle;
    margin-top: 10%;
    padding: 4px;
}

.card-container{
    background-color: #dfdfdf;
}

.form {
    text-align: center;
    padding-bottom: 20px !important;
    border-bottom: 1px solid #dfdfdf;
}